<!-- footer.html -->

<footer class="bg-gray-100 py-12">
  <div class="max-w-screen-xl mx-auto px-4 py-2 text-center text-base text-gray-600 space-y-2">

    <!-- <div class="text-lg font-bold text-slate-800">
      <a href="https://ohlonesky.com" class="font-medium text-blue-950 hover:text-orange-600">OHLONE SKY</a>
      </div> -->

       <!-- <a href="https://ohlonesky.com"><img src="https://s3-us-west-1.amazonaws.com/fogday.ai/ohlone/ohloneSky-logo.svg" alt="Ohlone Sky" style="width:60px;height:60px;"></a> -->



    <div class="text-xs">
    Ohlone Sky is a concept and design by: <br> <a href="https://fogday.com" class="font-medium text-blue-950 hover:text-orange-600">FOGDAY STUDIOS</a>
       © <span id="year"></span>

    </div>

  </div>
</footer>


<!-- darkToggle: add button -->
<!-- <script src="/assets/js/darkToggle.js" defer></script> -->
