<!-- footer.html -->

<footer class="bg-gray-100 py-10">
  <div class="max-w-screen-xl mx-auto px-4 py-2 text-center text-sm text-gray-600 space-y-2">

    <div class="text-lg font-bold text-slate-800">OHLONE SKY</div>

    <div class="space-x-2">
      <a href="/00/support" class="font-medium text-blue-950 hover:text-orange-600">SUPPORT</a> |
      <a href="https://ohlonesky.com/00/alpine/index2.html" class="font-medium text-blue-950 hover:text-orange-600">FAQs</a> |
      <a href="/00/contact/" class="font-medium text-blue-950 hover:text-orange-600">CONTACT</a>
    </div>

    <div class="text-xs">
      © <span id="year"></span>
      <a href="https://fogday.com" class="font-medium text-blue-950 hover:text-orange-600">FOGDAY</a>
    </div>

  </div>
</footer>


<!-- darkToggle: add button -->
<!-- <script src="/assets/js/darkToggle.js" defer></script> -->
