<!-- footer.html -->

<footer class="bg-gray-100 py-12">
  <div class="max-w-screen-xl mx-auto px-4 py-2 text-center text-base text-gray-600 space-y-2">

    <!-- <div class="text-lg font-bold text-slate-800">
      <a href="https://ohlonesky.com" class="font-medium text-blue-950 hover:text-orange-600">OHLONE SKY</a>
      </div> -->

    <div class="text-xs">
      © <span id="year"></span>
      <a href="https://fogday.com" class="font-medium text-blue-950 hover:text-orange-600">FOGDAY</a>
    </div>

  </div>
</footer>


<!-- darkToggle: add button -->
<!-- <script src="/assets/js/darkToggle.js" defer></script> -->
