<!-- 00/assets/partials/tellMeMore.html -->
<div class="inline-flex items-center justify-center w-full pt-2 pb-14">
    <hr class="w-96 h-1 mx-auto bg-gray-200 border-0 rounded-sm md:my-6 dark:bg-gray-700">
    <span class="absolute px-3 font-medium text-slate-800 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">
    <!-- <a href="/00/faqs/" class="font-semibold text-lg text-slate-800 hover:text-orange-600">« Tell Me More »</a> -->
      <a href="/00/faqs/" class="font-ardo text-lg text-slate-800 hover:text-orange-600">« Tell Me More »</a>
    </span>
</div>
