
/************* FONTS *************/

/* Neue Haas Unica W1G: regular/italic */
/* font-family: neue-haas-unica, sans-serif;
   font-style: normal;
	font-weight: 400; */

/* font-weight: 400; reg */
/* font-weight: 500; medium */
/* font-weight: 600; bold */

/* Yrsa SemiBold
font-family: yrsa, serif;
font-weight: 600;
font-style: normal; */

/* font-weight: 300; light */
/* font-weight: 400; reg */
/* font-weight: 500; medium */
/* font-weight: 600; semibold */
/* font-weight: 700; bold */

/* Ardoise Std Narrow Bold

font-family: ardoise-narrow-std, sans-serif;
font-weight: 600;
font-style: normal; */


/* Setup */
body {
    font-family: 'yrsa', serif;
    font-style: light;
    font-weight: 300; 
    line-height: 1.5em;
    margin: 0 auto;
    color: #1d1d1d; 
    background: #efefef; 
    text-rendering: optimizelegibility; }

/* body.ohlone {border-top: 8px solid #12176e; } */

/* Header */

.header {
	background: none; /* 12176e */
  	float: left;
  	margin: 35px 0;
  	height: 40px; width: 100%; }

#logo {
  text-align: center; margin: 100px; }



/* Typography */
/* p */

b, strong, em {font-weight:600; }

 h1, h2, h3 {
    font-family: ardoise-narrow-std, sans-serif;
    font-weight: 600;
    font-style: normal; }

ul, ol, pre, table,
blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em;
    font-family: ardoise-narrow-std, sans-serif; }

.connect {
    margin: auto; 
    width: 100%
    border: none;
    background: #eaeaea; }

.center {text-align: center;}

.footer {
    position: relative;
    left: 0; bottom: -50px; top: 20px;
    width: 100%;  height: 50px;
    background: #eaeaea; 
    clear:both; } 

 footer > h4 {
    margin: 0 10px;}

.logo {
    font-family: ardoise-narrow-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em; }

.copyright {
    font-family: monospace,serif;
    _font-family: 'courier new',monospace;
    font-size: .7em; }

a:link {font-weight: 400; color: #80a3cb; }
a:visited {text-decoration: none; }
a:hover {text-decoration: underline; color: #E3170D; }
a:active {text-decoration: underline; color: #80a3cb; }

 a.copyright:link {text-decoration: none; }


/* toggle div */
#hashLink { display: none; }
#hashLink:target { display: block; }

.video-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background: black;
    }

.video-container {
      position: relative;
      padding-top: 56.25%; /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden; }

.video-container video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.social-icon {display: inline-block; margin: 0 5px;}

